*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bordered{
    border: 2px dashed black;
}

ul{
    display: inline-block;
}

li{
    display: inline-block;
}

.container_head{
    text-align: right;
    background-color: yellow;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

main{
    width: 100vw;
}

.container_main{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    min-height: 600px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.img{
    background-image: url('https://picsum.photos/200/300');
    /* background-size: contain;
    background-repeat: no-repeat; */
    height: 300px;
    width: 200px;
}

.card{
    position: relative;
}

.mute{
    position: absolute;
    bottom: 0;
}

.container_footer{
    background-color: rgb(255, 77, 0);
    width: 100vw;
    /* min-height: 40px; */
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
}

.left{
    width: 20%;
}

.center{
    width: 60%;
    text-align: center;
}

.right{
    width: 20%;
    text-align: right;
}