* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

/* .bordered{
    border: 2px dashed black;
} */

ul {
    display: inline-block;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

.speaker_view a {
    padding: 3px;
    border-radius: 5px;
    background-color: gray;
    font-size: 1.3em;
}

.container_head {
    padding: 5px 0 15px;
    text-align: right;
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

main { 
    height: 100vh;
}

.container_main {
    margin: auto;
    height: calc(100% - 130px);
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    overflow: auto;
    /* align-content: space-between; */
}

.img {
    background-image: url('https://picsum.photos/300/200');
    height: 200px;
    width: 300px;
}

.card {
    position: relative;
    margin: 5px;
}

.mute {
    position: absolute;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.656);
    padding: 5px;
    display: none;
}

.card:hover .mute {
    display: inline-block;
}

.container_footer {
    background-color: #222222;
    width: 100%;
    height: 80px;
    /* min-height: 40px; */
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
}

.left {
    width: 20%;
}

.center {
    width: 60%;
    text-align: center;
}

.right {
    width: 20%;
    text-align: right;
    position: relative;
}

.info {
    text-align: center;
    display: inline-block;
    padding: 10px 10px;
}

.arrow {
    display: inline-block;
}

.icon {
    font-size: 2em;
}

#end {
    color: red;
    background-color: gray;
}

#end {
    color: red;
    padding: 0 30px;
}

.right ul {
    line-height: 80px;
}

.info a div p:last-child {
    font-size: 0.9em;
}